---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Estancia Infantil Mis Pekes en Cancún. Cuidado seguro y educativo para bebés y preescolares." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-800 scroll-smooth">
		<slot />
	</body>
</html>
